*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    66deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 81, 97, 1) 50%,
    rgba(38, 158, 182, 1) 100%
  );
}

table {
  color: #f1f1f1;
  border-color: #f1f1f1;
  font-size: 2rem;
  border-collapse: collapse; 
  
}
table th, table td {
  padding: 15px;
}

caption {
  margin-bottom: 15px;
}